* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', monospace; /* Fonte estilo retrô */
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-image: url('fundo.jpg'); /* Define imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.conjunto-botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

button {
  background-color: #3d1f5b;
  color: #fdd835;
  font-size: 14px;
  padding: 20px 40px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 0 #230b38;
  cursor: pointer;
  width: 260px;
  text-shadow: 1px 1px 1px #000;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 0 #10001a;
  background-color: #5a2d80;
}
